 :root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --gravish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}


*{
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  background-color: var(--white);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  width: 99vw;
}

.card{
  border-radius: 10px;
  width: 190px;
  padding: 10px;
  box-shadow: 0px 10px 30px var(--gravish-blue);
  display: flex;
  flex-direction: column;
}


img{
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.texte{
  text-align: center;
}

.description{
  color: var(--gravish-blue);
  font-size: 0.75rem;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%);}